@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fillProfileForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    max-width: 1144px;
    /*background-color: rgba(195, 195, 195, 0.04);;*/
    border-radius: 15px;
    padding: 0 35px;
    gap: 25px;
    /*margin: auto;*/

    animation: show 1s ease-in-out;
    /*margin: auto auto 48px;*/
}

.fillProfileRow {
    display: flex;
    flex-direction: row;
    gap: 128px;
}


.block {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.resumeTitle,
.blockTitle {
    font-family: SFPro, serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    /*padding: 40px 0;*/
}

.resumeTitle {
    margin-bottom: 0;
}

.authorization {
    font-family: SFPro, serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.resumeTitles {
    display: flex;
    flex-direction: column;
}

.blockTitleDescription {
    font-family: SFPro, serif;
    font-size: 16px;
    color: #9E9E9E;
}
