@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
}

.active {
    opacity: 1;
    pointer-events: all;
    animation: show 0.5s ease-in-out;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: #242428;
}
