@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.authorizationForm {
    max-width: 434px;
    margin: 0px auto auto auto;
}

.header {
    font-family: OpenSans, serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;

    cursor:default;

    /*padding: 0 0 60px 0;*/
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    /*max-width: 434px;*/
    /*background-color: rgba(195, 195, 195, 0.04);;*/
    /*border-radius: 15px;*/
    padding: 0 20px;
    /*margin: 100px auto auto;*/

    animation: show 1s ease-in-out;
}



.authorization {
    font-family: OpenSans, serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 20px;

    cursor:default;
}

.password {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forget {
    color: #F99D1D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0;
    align-self: end;
    transition: all 250ms ease 0s;
}

.forget a {
    color: #F99D1D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.forget:hover {
    cursor:pointer;
    text-decoration: underline;
    transition: all 250ms ease 0s;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
