@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showLeft {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showRight {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    background: #313134;
    border-radius: 20px;
    /*padding: 13px 44px 13px 26px;*/
    margin-bottom: 24px;


    display: flex;
    flex-direction: column;
    animation: showUp 1.5s ease-in-out;
    /*justify-content: space-between;*/
}

.upContainer {
    border-radius: 20px;
    max-height: 250px;
    max-width: 1000px;
    height: 250px;

    position: relative;
}

.upContainer img {
    object-fit: cover;
    height: 25px;
    border-radius: 20px;
}

.downContainer {
    background: #313134;
    transform: translateY(-35px);
    border-radius: 20px;
    max-height: 85px;
    max-width: 1000px;
    padding: 10px 30px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    /*justify-content: space-between;*/
}

.avatar {
    /*background: red;*/
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;

    border: 5px solid #313134;
    border-radius: 200px;
    transform: translateY(-50px);
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1090px;
}

.rightUpContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nameAndDescription {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-family: SFPro, serif;
}








/*.avatarAndNameAndDescription {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 15px;*/
/*}*/

/*.avatar {*/
/*    !*background: red;*!*/
/*    max-width: 200px;*/
/*    max-height: 200px;*/
/*    width: 200px;*/
/*    height: 200px;*/

/*    border: 5px solid #313134;*/
/*    border-radius: 200px;*/
/*    transform: translateY(-100px);*/
/*}*/

/*.leftContainer {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 23px;*/
/*}*/

/*.nameAndDescriptionAndTags {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    font-family: SFPro, serif;*/
/*}*/

/*.nameAndDescription {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0;*/
/*    font-family: SFPro, serif;*/
/*    !*justify-content: center;*!*/
/*}*/

.name {
    font-size: 24px;
    font-weight: 600;
    color: #EEEEEE;
}

.description {
    font-size: 16px;
    font-weight: 600;
    color: rgba(158, 158, 158, 1);
}

.likesAndProjects {
    display: flex;
    flex-direction: row;
    gap: 25px;
    /*align-items: center;*/

}

.likes,
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.projectsIcon,
.likeIcon {
    width: 24px;
    height: 24px;
}

.likesCount {
    color: rgba(240, 134, 203, 1);
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    font-family: SFPro, serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.03em;
}
.projectsCount {
    color: #81E6D9;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    font-family: SFPro, serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.03em;
}

.projectImage {
    width: 1000px;
    height: 250px;

    image-rendering: optimizespeed;
    border-radius: 20px;
    background-position: center !important;
    background-size: cover !important;
}

.projectInfo {
    position: absolute;
    left: 0;
    bottom: 25px;
    display: flex;
    width: 1000px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectName {
    font-family: SFPro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.projectDescription {
    font-family: SFPro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #737373;
}
