.categoryUserCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
    height: 150px;

    background-color: #313134;
    padding: 15px 25px;
    border-radius: 20px;

    cursor: pointer;
}

.leftContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.avatar {
    max-width: 120px;
    max-height: 120px;
    width: 120px;
    height: 120px;

    object-position: center !important;
    object-fit: cover !important;


    border: 1px solid #000000;
    border-radius: 128px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}
.userName {
    font-family: SFPro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.userDescription {
    font-family: SFPro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #9E9E9E;
}

.userMail {
    font-family: SFPro, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #9E9E9E;
}


.likesAndProjects {
    display: flex;
    flex-direction: row;
    gap: 25px;
    /*align-items: center;*/

}

.likes,
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.projectsIcon,
.likeIcon {
    width: 24px;
    height: 24px;
}

.likesCount {
    color: rgba(240, 134, 203, 1);
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    font-family: SFPro, serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.03em;
}
.projectsCount {
    color: #81E6D9;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    font-family: SFPro, serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.03em;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    align-items: end;
}
