.dropdown {
    /*min-width: 394px;*/
    max-width: 400px;
    min-width: 100px;
    min-height: 50px;
}

.title {
    position: relative;
    text-align: left;
    margin-bottom: 4px;
    font-family: OpenSans, serif;
    color: #818284;
    font-size: 16px;
}

.option {
    display: flex;
    flex-direction: row;
    /*align-items: start;*/
    gap: 10px;

}
