.badge {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 6px 12px;

    background-color: #E7E7E8;
    border-radius: 10px;


    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.87);

}

.cross {
    cursor: pointer;
}
