.historyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 732px;
    width: 100%;
    margin-top: 40px;
}

.divider {
    border-top: 1px solid #B5B2B2;
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 16px;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 732px;
    width: 100%;
    gap: 16px;
}
