.errorPage {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.errorPageTB {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.errorPage h1 {
    font-family: SFPro, serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0 10px;
    text-align: center;
}

.errorPage p {
    font-family: SFPro, serif;
    font-size: 18px;
    font-weight: 400;
    color: #C2C2C2;
    text-align: center;
    max-width: 800px;
    padding: 0 10px;
}

.editTitle {
    font-family: SFPro, serif;
    font-size: 20px;
    color: #737373;
    margin-bottom: 30px;
    text-align: center;
}

.importProjectModalTitle {
    font-family: SFPro, serif;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    text-align: center;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.importProjectModalTitleCategoryName {
    font-weight: 600;
}

.importProjectButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

