.pageTitle {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 1272px;
    margin: 50px auto auto;
    /*padding: 0 20px;*/
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
    margin-bottom: 40px;
}
