.projectCard {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 400px;
    width: 300px;
    position: relative;

    cursor: pointer;
}

.downContainer {
    background-color: #4F4F53;
    border-radius: 0 0 20px 20px;
    height: 80px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.downLeftContainer {
    display: flex;
    flex-direction: column;

}

.downRightContainer {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.projectCardHeader {
    font-family: SFPro, serif;
    font-size: 20px;
    text-align: start;
    font-weight: 500;
    margin-bottom: 0;
}

.projectCardDescription {
    font-family: SFPro, serif;
    font-size: 14px;
    text-align: start;
    font-weight: 400;
    color: #C2C2C2;
    line-height: 18px;
}

.projectCardImage {
    /*max-height: 122px;*/
    border-radius: 20px 20px 0 0;
    height: 150px;
    object-fit: cover;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    justify-content: end;
}

.likesCount {
    font-family: SFPro, serif;
    font-size: 16px;
    font-weight: 500;
    color: #C2C2C2;
}

.date {
    font-family: SFPro, serif;
    font-size: 12px;
    font-weight: 500;
    color: #C2C2C2;
    text-align: end;
}

.deleteProject {
    position: absolute;
    right: 10px;
    top: 10px;
    /*background-color: #737373;*/
    /*border-radius: 5px;*/

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.deleteProject:hover {
    background-color: #E8E8E8;

}


.deleteProject path {
    fill: #E24444;
}
