.button {
    font-family: SFPro, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 12px;
    transition: all 250ms ease 0s;
    height: 40px;
    min-width: 2.5rem;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #81E6D9;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.button:hover {
    background-color: #4FD1C5;
}

.button:active {
    background-color: #38B2AC;
}
