@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projectsTable {
    max-width: 1000px;
    /*padding: 0 10px;*/
    margin: 10px auto 20px auto;
    animation: show 1s ease-in-out;
}

.edit {
    border-radius: 12px;
    border: 3px dashed  #898989;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 16px;
}

.header {
    font-family: SFPro, serif;
    font-size: 20px;
    font-weight: 700;
    /*text-decoration: underline;*/
    /*text-underline-offset: 6px;*/
    /*text-decoration-color: #525252;*/
    /*text-decoration-thickness: 0px;*/
    /*margin-bottom: 16px;*/
}

.description {
    font-family: SFPro, serif;
    font-size: 16px;
    font-weight: 700;
    /*margin-bottom: 16px;*/
    color: #9E9E9E;
}

.projectsTableContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    /*column-gap: 30px;*/
    row-gap: 30px;
    padding: 0 14px;
}

.Divider {
    margin: 40px 0 0 0;
    color: #6e6e6e;
    opacity: 0.4;
    border-width: 0 0 1px;
}

@media screen and (max-width: 700px) {
    .projectsTableContent {
        grid-template-columns: 1fr;
    }
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;

    cursor: pointer;
}

.delete:hover {
    background-color: #4F4F53;
    border-radius: 4px;
}
